{% set types  = ['primary', 'secondary', 'success', 'info', 'warning', 'danger', 'dark'] %}

{% macro quote(q) %}
{% set random = types | random %}
<div class="card text-white bg-{{ random }}">
    <img class="card-img-top" src="{{ q.image }}" width="261" height="200"/>
    <div class="card-body">
        <h4 class="card-title font-light">
            {{ q.content }}
        </h4>
        <div class="card-text font-bold">
            {{ q.author.name or "Unknown" }}
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            {% include "base/components/social.html" %}
        </div>
    </div>
</div>
{% endmacro %}

<div class="card-columns">
{% for q in quotes %}
        <!-- <a class="no-text-decoration" href="javascript:void(0);"> -->
            {{ quote(q) }}
        <!-- </a> -->
{% endfor %}
</div>